---
import Stock from "../layouts/Stock.astro";
const response = await fetch('https://raw.githubusercontent.com/Procinogen/neocities-blog-posts/refs/heads/main/test-blog-post.astro')
const post = response.body
---

<Stock>

    <div class="mx-8">

        <h1 class="text-5xl">this is the blog</h1>
        <p>I am working on this</p>
    
    <br>
    <hr>
    <br>

        <div id="post-body">
            {post}
        </div>
    
    </div>

    <!-- <script>

    const response = await fetch('https://raw.githubusercontent.com/Procinogen/neocities-blog-posts/refs/heads/main/test-blog-post.html');
    const htmlContent = await response.text();

    function loadPost() {
            let postBody = document.getElementById('post-body');
            postBody?.insertAdjacentHTML('beforeend', htmlContent)
    }

    document.addEventListener('astro:page-load', loadPost, {once:true})
    document.addEventListener('astro:after-swap', loadPost)

    </script> -->

</Stock>