---
import Stock from "../layouts/Stock.astro";
---

<Stock>

    <div class="mx-8">

        <h1 class="text-5xl">this is the blog</h1>
        <p>I am working on this</p>
    
    <br>
    <hr>
    <br>

        <div id="post-body">
            posts go here
        </div>
    
    </div>

    <script>

    let htmlContent = '';

    async function initPost(){
        const response = await fetch('https://raw.githubusercontent.com/Procinogen/neocities-blog-posts/refs/heads/main/test-blog-post.astro');
        htmlContent = response.ok ? await response.text() : "No posts found :(";
        loadPost();
    }

    function loadPost() {
            let postBody = document.getElementById('post-body');
            postBody?.insertAdjacentHTML('beforeend', htmlContent)
    }

    document.addEventListener('astro:page-load', initPost, {once:true})
    document.addEventListener('astro:after-swap', loadPost)

    </script>

</Stock>