---
import Stock from "../layouts/Stock.astro";
---

<Stock>

    <div class="mx-8">

        <h1 class="text-5xl">this is the blog</h1>
        <p>I am working on this</p>
    
    <br>
    <hr>
    <br>

        <div id="post-body">
            {response.body}
        </div>
    
    </div>
    <h1 class="text-5xl">this is the blog</h1>
    <p>I am working on this</p>

</Stock>