---
import Stock from '../layouts/Stock.astro';
---

<Stock>

	<div id="container" class="text-base p-5" >
		<h1 class="text-5xl pb-5">hello welcome to procinogen's website</h1>
		<p>Hi. I go by Procinogen. I'm a university student in Canada studying physics. This is my personal website.</p>

		<div class="flex flex-col justify-center">
			<div class="p-10">
				<h1 class="text-2xl">socials</h1>
					<ul>
						<li><p><a href="https://procinogen.github.io">"Professional" website</a></p></li>
						<li><p><a href="https://instagram.com/procinogen">Instagram (art, mainly)</a></p></li>
						<li><p><a href="https://twitter.com/procinogen">Twitter</a></p></li>
					</ul>
			</div>
			<div class="p-10">
				<h1 class="text-2xl">foo</h1>
			</div>
			<div class="p-10">
				<h1 class="text-2xl">bar</h1>
			</div>
		</div>

	</div>
	
</Stock>
