---
import Stock from '../layouts/Stock.astro';
import SkeletonHang from '../assets/skeletonhang.gif';
---
<Stock>
    <h1 class="text-4xl">you have no idea how long it took to get this to work</h1>
	<p>this took fucking forever</p>
	<p>I haven't touched JS in years so this was basically torture the entire time</p>
	<p>but hey if that's torture, then call me a masochist because look at how cool this is</p>
    <a href="/"><img src={SkeletonHang.src}/></a>
	<p>OK. time for some fun tech jargon because I need to flex</p>
	<p>basically, this entire website was made using Astro and its view-transitions utilities. kudos to martrapp on github and their astro-vtbot repo. really made my life easier</p>
	<p>thanks to that, I was able to make the site a single-page application.</p>
	<p>that's what's letting you listen to the music through the youtube player without it refreshing every time you go to a new page</p>
	<!-- TODO: figure out how to justify and scale content because the text is expanding the div when it shouldn't -->
</Stock>