---
---

<div id="menu" class="float-left min-h-screen p-8">
    <ul class="menulink">
        <li><p><a href="/">homepage</a></p></li>
        <li><p><a href="/blog">blog</p></li>
        <li><p><a href="/testpage">lorem</a></p></li>
        <li><p><a href="#">ipsum</a></p></li>
    </ul>
</div>

<style>

    #menu {
        background-color: yellow;
    }

    p {
        color: black;
        padding-bottom: 2rem;
    }

</style>